<!DOCTYPE html>

<%- include('../partials/head'); %> <!-- Incluindo o arquivo head.ejs -->

<body class="container">
    <%- include('../partials/header', {pagina: 'sobre'}); %> <!-- Incluindo o arquivo nav.ejs -->
    <main>
        <div class="jumbotron">
            <h1>Sobre
            </h1>
            <p>Eu sou Isabela lopes, estudante de programacao</p>
        </div>
    </main>
    <%- include('../partials/footer'); %> <!-- Incluindo o arquivo footer.ejs -->
</body>

</html>